/*
 * Copyright (c) 2023 My Name
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
    aliases {
        i2c-0 = &i2c_emul0;
        spi-0 = &spi_emul0;
    };

    /* I2C emulator bus: accept both new and legacy compatibles */
    i2c_emul0: i2c@0 {
        /* First tries new; falls back to legacy if new is absent */
        compatible = "zephyr,i2c-emul-controller", "zephyr,i2c-emul";
        #address-cells = <1>;
        #size-cells = <0>;
        reg = <0>;
        status = "okay";

        drv2605_emul: drv2605@5a {
            compatible = "ti,drv2605";
            reg = <0x5a>;
            status = "okay";
        };
    };

    /* SPI emulator bus: new then legacy */
    spi_emul0: spi@0 {
        compatible = "zephyr,spi-emul-controller", "zephyr,spi-emul";
        #address-cells = <1>;
        #size-cells = <0>;
        reg = <0>;
        status = "okay";

        bb_trackpad_emul: bb_trackpad@0 {
            compatible = "blackberry,trackpad";
            reg = <0>;
            status = "okay";
        };
    };
};