/*
 * Copyright (c) 2023 My Name
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
    aliases {
        i2c-0 = &i2c_emul0;
        spi-0 = &spi_emul0;
    };

    /* I2C emulator */
    i2c_emul0: i2c@40003000 {
        compatible = "zephyr,i2c-emul";
        reg = <0x40003000 0x1000>;
        #address-cells = <1>;
        #size-cells = <0>;
        status = "okay";

#if defined(CONFIG_DRV2605)
        drv2605_emul: drv2605@5a {
            compatible = "ti,drv2605";
            reg = <0x5a>;
            status = "okay";
        };
#endif
    };

    /* SPI emulator */
    spi_emul0: spi@40004000 {
        compatible = "zephyr,spi-emul";
        reg = <0x40004000 0x1000>;
        #address-cells = <1>;
        #size-cells = <0>;
        status = "okay";

#if defined(CONFIG_BLACKBERRY_TRACKPAD)
        bb_trackpad_emul: bb_trackpad@0 {
            compatible = "blackberry,trackpad";
            reg = <0>;
            status = "okay";
        };
#endif
    };
};

